// scrollTop
.scrollToTop {
  width: 160px;
  height: 30px;
  // outline: 1px solid red;
  text-align: left;
  color: #000;
  line-height: 30px;
  text-decoration: none;
  position: fixed;
  top: 30%;
  left: -20px;
  transition: 0.3s ease-out;
  z-index: 9;
  font-size: 0.875rem;
  transform: rotate(90deg);
  @media (max-width: 1500px) {
    left: -60px;
  }
  &:after {
    content: '';
    height: 1px;
    width: 40px;
    background-color: #000;
    position: absolute;
    right: 0;
    top: 15px;
  }
  &:hover,
  &:focus-visible {
    box-shadow: none;
  }
}
//scroll
.l-anchor {
  position: fixed;
  top: calc(50vh - 150px);
  left: 2.57143%;
  z-index: 9;
  font-size: 0.875rem;
  @media (max-width: 1500px) {
    left: -0.5%;
  }
  @media (max-width: 900px) {
    left: -0.5%;
    top: calc(50vh - 200px);
  }
  @media (max-width: 767px) {
    left: -1%;
    top: 100px;
  }
  //修改的ＳＣＳＳ --- start
  &.is-scroll.is-pagetop {
    .l-anchor__body {
      .l-pagetop {
        display: block;
      }
    }
  }

  //修改的ＳＣＳＳ --- end

  &.is-scroll {
    .l-anchor__body {
      .l-pagetop {
        display: none;
      }
    }
  }
  &.is-pagetop {
    .l-anchor__body {
      .l-scroll {
        display: none;
      }
    }
  }
  &.is-white {
    .l-anchor__body {
      p {
        &.l-scroll,
        &.l-pagetop {
          a {
            color: #fff;
            &:after {
              background-color: #fff;
            }
            &:hover {
              color: $colorLight;
            }
          }
        }
      }
    }
  }
  //修改的ＳＣＳＳ --- start
  @media (max-width: 767px) {
    &.is-white {
      .l-anchor__body p.l-pagetop a {
        color: #fff;
      }
    }
  }
  .l-anchor__body {
    position: relative;
    p {
      display: inline-block;
      overflow: hidden;
      margin-right: 2.42857%;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      position: relative;

      &.l-scroll {
        a {
          padding-bottom: 50px;
          position: relative;
          &:after {
            content: '';
            height: 40px;
            width: 1px;
            background-color: #000;
            position: absolute;
            right: 50%;
            bottom: 0;
          }
        }
      }
      &.l-pagetop {
        a {
          padding-top: 50px;
          position: relative;
          &:after {
            content: '';
            height: 40px;
            width: 1px;
            background-color: #000;
            position: absolute;
            right: 50%;
            top: 0;
          }
        }
      }
    }
  }
}

//元素對齊 align
// .align-left{
//   text-align: left;
// }
// .align-center{
//   text-align: center;
// }
// .align-right{
//   text-align: right;
// }
// .align-top{
//   vertical-align: top;
// }
// .align-middle{
//   vertical-align: middle;
// }
// .align-bottom{
//   vertical-align: bottom;
// }
// .align-baseline{
//   vertical-align: baseline;
// }

// $fileTypePic: doc, docx, odt, xls, xlsx, csv, ods, ppt, pptx, odp, zip, txt, mov, mp3, jpg, wmv, mp4, pdf, other ;

// @each $fileTypePic in $fileTypePic {
//   a.file_#{$fileTypePic} {
//     background: url(../images/basic/icon_#{$fileTypePic}.png) no-repeat center center;
//     width: 26px;
//     height: 28px;
//     font-size: 0;
//     overflow: hidden;
//     vertical-align: middle;
//     background-size: contain;
//   }
// }
